<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div id="container"></div>
    <div class="box">
      <header>
        <h1>Unit Converter</h1>
      </header>

      <main>
        <div class="link">
          <a href="/length-converter" class="link-button">Length</a>
          <a href="/length-converter" class="link-button">Weight</a>
          <a href="/length-converter" class="link-button">Temperature</a>
        </div>
        <form action="/submit-form" method="POST">
          <div>
            <label for="length">Enter the length to convert</label>
            <input type="text" id="length" name="length" />
          </div>
          <div>
            <label for="from">Unit to Convert from</label>
            <input type="text" id="from" name="from" />
          </div>
          <div>
            <label for="to">Unit to Convert to</label>
            <input type="text" id="to" name="to" />
          </div>

          <button type="button" id="submit_button">Convert</button>
        </form>
      </main>
    <div id="second-box"><p id="converted-result">testing</p></div>
    <footer>
      <p>&copy; 2025 My Website</p>
    </footer>
  </body>
</html>
